### API Description:
 "Projected Population by Single Year of Age, Sex, Race, and Hispanic Origin for the United States: 2016 to 2060 // Source: U.S. Census Bureau, Population Division // There are four projection scenarios: 1. Main series, 2. High Immigration series, 3. Low Immigration series, and 4. Zero Immigration series. // Note: 'In combination' means in combination with one or more other races. The sum of the five race-in-combination groups adds to more than the total population because individuals may report more than one race. Hispanic origin is considered an ethnicity, not a race. Hispanics may be of any race. // The projections generally do not precisely agree with population estimates available elsewhere on the Census Bureau website for methodological reasons. Where both estimates and projections are available for a given time reference, it is recommended that you use the population estimates as the measure of the current population. // For detailed information about the methods used to create the population projections, see https://www2.census.gov/programs-surveys/popproj/technical-documentation/methodology/methodstatement17.pdf. // Population projections are estimates of the population for future dates. They are typically based on an estimated population consistent with the most recent decennial census and are produced using the cohort-component method. Projections illustrate possible courses of population change based on assumptions about future births, deaths, net international migration, and domestic migration. The Population Estimates and Projections Program provides additional information on its website: https://www.census.gov/programs-propproj.html",

In [19]:
import requests
import pandas as pd

# Definir la URL de la API
#url = "api.census.gov/data/2017/popproj/pop?get=POP,YEAR&for=us:1&key=7cef749358cb143c0760b345e66bcf67b4623955"

url = "https://api.census.gov/data/2017/popproj/pop?get=POP,SEX,RACE,SCENARIO,YEAR&for=us:1&key=7cef749358cb143c0760b345e66bcf67b4623955"


# Hacer la solicitud GET a la API
response = requests.get(url)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Convertir la respuesta a formato JSON
    data = response.json()
    
    # Crear un DataFrame de pandas con los datos
    df = pd.DataFrame(data[1:], columns=data[0])
    
    # Imprimir la tabla
    display(df)
else:
    # Imprimir un mensaje de error si la solicitud no fue exitosa
    print(f"Error en la solicitud. Código de estado: {response.status_code}")

         POP SEX RACE SCENARIO  YEAR us
0    3970145   0    0        M  2016  1
1    2841126   0    1        M  2016  1
2     604423   0    2        M  2016  1
3    2030479   1    0        M  2016  1
4    1939666   2    0        M  2016  1
..       ...  ..  ...      ...   ... ..
139   118961   2    6        Z  2016  1
140  1496090   2    7        Z  2016  1
141   361739   2    8        Z  2016  1
142    55074   2    9        Z  2016  1
143   143117   2   10        Z  2016  1

[144 rows x 6 columns]